sandbox
cozy-library
maths
**/node_modules

# Ignore markdown docs except READMEs
*.md
!README.md
!**/README.md

# SAM config with secrets
backend/samconfig.toml

# Frontend env with secrets
frontend/.env
