version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "textbook-study-buddy"
s3_prefix = "textbook-study-buddy"
region = "us-east-1"
capabilities = "CAPABILITY_IAM"
parameter_overrides = ""
